<launch>
  <node pkg="xqserial_server" type="xqserial_server" name="motor_driver">
    <param name="debug_flag" value="false"/>
    <param name="wheel_separation" value="0.40"/>
    <param name="wheel_radius" value="0.0825"/>
    <param name="max_speed" value="5.0"/>
    <param name="port" value="/dev/ttyUSB001"/>`1
    <param name="rot_dist" value="0.25"/>
    <param name="tran_dist" value="0.4"/>
    <param name="power_scale" value="1.0"/>
    <param name="r_min" value="1.0"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0.15 0 0 0 1 base_footprint base_link 20">
  </node>
  <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster3" args="0 0 0 0 0 0 1 base_link kinect_link_new 20"/>
  <node pkg="tf" type="static_transform_publisher" name="baselinkSonar_broadcaster1" args="0.135 -0.130 0.24 0 0 0  base_link sonar1 20"/>
  <node pkg="tf" type="static_transform_publisher" name="baselinkSonar_broadcaster2" args="0.135 0.130 0.24 0 0 0  base_link sonar2 20"/>
  <node pkg="tf" type="static_transform_publisher" name="imulink_broadcaster" args="0.07 -0.03 0 0 0 0 1 base_link imu 20"/>
</launch>
