<launch>
  <arg name="debug_flag" default="false" doc="whether to show debug message" />
  <arg name="wheel_separation" default="0.42" doc="distance between wheels" />
  <arg name="wheel_radius" default="0.0638" />
  <arg name="max_speed" default="2.0"/>
  <arg name="port" default="/dev/ttyUSB001"/>
  <arg name="power_scale" default="1.0"/>
  <arg name="tran_dist" default="0.5"/>
  <arg name="angle_limit" default="1.6"/>
  <arg name="x_limit" default="1.5"/>
  <arg name="y_limit" default="0.27"/>
  <arg name="r_min" default="1.0"/>
  <arg name="cmd_topic" default="/cmd_vel" />

  <node pkg="xqserial_server" type="xqserial_server" name="motor_driver" respawn="true" respawn_delay="10" output="screen">
    <param name="debug_flag" value="$(arg debug_flag)"/>
    <param name="wheel_separation" value="$(arg wheel_separation)"/>
    <param name="wheel_radius" value="$(arg wheel_radius)"/>
    <param name="max_speed" value="$(arg max_speed)"/>
    <param name="port" value="$(arg port)"/>
    <param name="power_scale" value="$(arg power_scale)"/>
    <param name="tran_dist" value="$(arg tran_dist)"/>
    <param name="angle_limit" value="$(arg angle_limit)"/>
    <param name="x_limit" value="$(arg x_limit)"/>
    <param name="y_limit" value="$(arg y_limit)"/>
    <param name="r_min" value="$(arg r_min)"/>
    <param name="cmd_topic" value="$(arg cmd_topic)" />
    <remap from="/scan" to="/scan_filtered" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0.15 0 0 0 1 base_footprint base_link 50">
  </node>
  <node pkg="tf" type="static_transform_publisher" name="baselinkSonar_broadcaster1" args="0.135 -0.130 0.24 0 0 0  base_link sonar1 50"/>
  <node pkg="tf" type="static_transform_publisher" name="baselinkSonar_broadcaster2" args="0.135 0.130 0.24 0 0 0  base_link sonar2 50"/>
  <node pkg="tf" type="static_transform_publisher" name="imulink_broadcaster" args="0.07 -0.03 0 0 0 0 1 base_link imu 50"/>
</launch>
